body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    min-height: 100vh;
    overflow-y: auto;
}

#mainDiv {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #f0f2f5;
    flex: 1;
    padding-top: 70px;
    /* Top padding increased to 60px */
    padding-bottom: 40px;
    /* Bottom padding increased to 30px */
    overflow-y: auto;
}

.card {
    width: 100%;
    max-width: 500px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.card-header {
    background-color: #007bff;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}