<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head(pageTitle='Login')"></head>

<body>
<div th:replace="~{fragments/navbar :: navbar}"/>
<div>
    <div id="mainDiv">
        <div class="card" id="card">
            <div class="card-header" id="card-header">
                <h3 class="mb-0">Login Form</h3>
            </div>

            <div class="card-body p-4">
                <div  th:if="${param.error}">
                    <p class="text-danger">Invalid username and password.</p>
                </div>
                <div th:if="${param.logout}">
                    <p class="text-success">You have been logged out.</p>
                </div>
                <form th:action="@{'/web/validateLogin'}" method="post">
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" name="email"
                               placeholder="Enter your email" required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" name="password"
                               placeholder="Enter your password" required>
                    </div>
                    <div class="d-flex justify-content-between">
                        <button type="submit" class="btn btn-primary">Sign In</button>
                        <button type="reset" class="btn btn-secondary">Reset</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{fragments/footer :: footer}"/>
</body>
</html>